.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
    @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__team {
  width: 100%;
  background-color: var(--bg-secondary-color);
}