.development__list {
  display: none;
  @media screen and (min-width: 1200px) {
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

.development__item {
  position: relative;
  overflow: hidden;
  &:not(:last-child) {
  margin-right: 30px;
  }
}

.development__content {
  width: 370px;
  position: absolute;
  padding: 27px 82px;
  bottom: 0;
  left:0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg-primary-color);
  background: rgba(47, 48, 58, 0.8);
}

