.team__img {
  margin-bottom: 30px;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  min-width: 270px;
  margin-bottom: 30px;
  background-color: var(--bg-primary-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
  0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14);
    // &:not(:last-child) {
    // margin-right: 30px;
    //   }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    }
  @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
      margin-left: 30px;
    }
}


.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__employee {
  padding: 0px 59px 30px 59px;
}

.examples-wrap {
  // padding: 20px 24px;
  border: 1px solid transparent;
}

.team__position {
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.member-social {
  display: flex;
  justify-content: center;
}

/*  SECTION SOCIAL ICONS */

.member-social__icon {
  fill: rgba(175, 177, 184, 1);
  .member-social__link:hover
    & {
    fill: rgba(255, 255, 255, 1);
}
    .member-social__link:focus
    & {
  fill: rgba(255, 255, 255, 1);
  }
}

.member-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--transition-fast), background-color var(--transition-fast);
  &:hover {
    background-color: var(--accent-text-color);
  }
  &:focus {
    background-color: var(--accent-text-color);
  }
}




